.portfolio_contaier{
  overflow: initial;
}

.portfolio_content{
  padding: 0 1.5rem
}

.portfolio_img{
  width:265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title{
  font-size: var(--h3-font);
  margin-bottom: var(--m-0-5);
}

.portfolio_description{
  margin-bottom:var(--m-0-75);
}

.portfolio_button:hover .portfolio_button_icon{
  transform: translateX(.25rem);
}