.portfolio_contaier{
  overflow: initial;
}

.portfolio_content{
  padding: 0 1.5rem;
  cursor: grab;
}

.portfolio_img{
  width:265px;
  border-radius: .5rem;
  justify-self: center;
}


.portfolio_title{
  font-size: var(--h3-font);
  margin-bottom: var(--m-0-5);
}

.portfolio_description{
  margin-bottom:var(--m-0-75);
}


.portfolio_button:hover .portfolio_button_icon{
  transform: translateX(.25rem);
  cursor: pointer;
}

.portfolio_button,.portfolio_button_icon{
  cursor:pointer;
}

.swiper_button_next{
  font-size: 2rem;
  color:var(--primary-color);
  right: -0.5rem;
  position: relative;
}

.swiper_button_prev{
  font-size: 2rem;
  color:var(--primary-color);
  left: -0.5rem;
  position: relative;
}

.bullets_active{
  background-color: var(--primary-color);
}
.portfolio_button_content{
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100%;
 width: 100%;

}
/* Small devices */
@media screen and (max-width:568px) {
   .portfolio_data{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
  } 
  
  .portfolio_button_content{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100%;
   width: 100%;

  }
}
/* Medium divices */
@media screen and (min-width:568px) {
  .portfolio_content{grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width:768px){
  .portfolio_img{
    width: 320px;
  }
  .portfolio_content{
    align-items: center;
  }
 
}

/* for large divices */
@media screen and (min-width:1024px){
  .portfolio_content{
    column-gap: 6rem;
  }
 
}