.container{
    display: flex;
    align-items: center;
    gap:16px;
    /* min-width: 250px */
  
  }
  .img{
    width:84px;
    height: 84px;
    /* padding: 4px; */
  }
.a{
    display:flex;
    gap:1rem;
    align-items: center;
    font-family: var(--squada-font);
    color:var(--ligthner-color);
    font-weight: var(--font-medium);
    font-size: var(--h1-font);
}
  .title{
    font-family: var(--body-font);
    font-size:var(--h3-font);
    font-weight: var(--font-thin);
  }



  .img{
    width:94px;
    height: 94px;
    /* padding: 4px; */
  }