.about{
  z-index:10;
  background-color: var(--body-color);
}
.about_container{
  display: flex;
  flex-direction: column;
  gap:8px
}
.about_img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;

}

.about_description{
  text-align: center;
  margin-bottom:var(--m-2-5);
  text-wrap: balance;
  line-height: 1.6;

}

.about_buttons{
  display: grid;
  justify-content: center;
  gap: 10px;

}
.about_higiligth{
  font-weight: var(--font-semibold);
}

/* Medium divices */
@media screen and (min-width:390px){
  .about_buttons{
    grid-template-columns: repeat(2,minmax(12rem,1fr));

  }
}
@media screen and (min-width:568px) {
  .about_container{
    grid-template-columns: repeat(2 ,1fr);
  }
  .about_description{
    justify-content: center;
  }
  .about_buttons{
    grid-template-columns: repeat(1,11rem);
  }
}

@media screen and (min-width:645px){
  .about_buttons{
    grid-template-columns: repeat(2,11rem);
  }
}

@media screen and (min-width:768px) {
  .about_container{
    column-gap: 5rem;
    gap:1.5rem;
      margin-left: auto;
      margin-right: auto;
      display: grid;
  max-width: 768px;
    
  }
  .about_img{
    width: 350px;
  }
  .about_description{
    text-align: initial;
  }
  .about_buttons{
    justify-content: initial;
  }
}