.container{
    padding: 8px;
    font-size: 29px;
    /* background-color: red; */
    /* align-self: center; */
    background-color: var(--container-color);
    /* color: var(--primary-color); */
    /* border:2px solid var(--primary-color); */
    border: none;
    border-radius: 8px;
    font-family: var(--body-font);
    font-weight: var(--font-semibold);
    transition: all 400ms ease-in-out;
    cursor: pointer;
 }

 .container:hover{
    background-color: rgb(68, 221, 122);
 }
